.container {

    height: 900px;
    margin: auto;
}

.section {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.section-title {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

.section-title:hover {
    background-color: #0056b3;
}

.section-content {
    padding: 10px;
    background: #ffffff;
}

.inputTableMedicine{
  width: 200px !important;
  height: 30px !important;
}

.LogOutButton{
  margin-left: 90% !important;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.LogOutButton:hover {
  background-color: #45a049;
}